<form action="/register" method="POST" novalidate>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            {{!-- Show flash error --}}
            {{#if error_message}}
                <div class="alert alert-danger text-center">{{error_message}}</div>
            {{/if}}

            {{!-- Show validation errors --}}
            {{#if errors}}
                {{#each errors}}
                    <div class="alert alert-danger">{{this.message}}</div>
                {{/each}}
            {{/if}}

            <div class="checkout__input">
                <p>First Name <span>*</span></p>
                <input type="text" name="firstName" value="{{firstName}}" placeholder="Enter first name">
            </div>

            <div class="checkout__input">
                <p>Last Name <span>*</span></p>
                <input type="text" name="lastName" value="{{lastName}}" placeholder="Enter last name">
            </div>

            <div class="checkout__input">
                <p>Email Address <span>*</span></p>
                <input type="email" name="email" value="{{email}}" placeholder="Enter your email">
            </div>

            <div class="checkout__input">
                <p>Password <span>*</span></p>
                <input type="password" name="password" placeholder="Password">
            </div>

            <div class="checkout__input">
                <p>Confirm Password <span>*</span></p>
                <input type="password" name="confirm_password" placeholder="Confirm password">
            </div>

            <button type="submit" class="site-btn" style="width:100%;">REGISTER</button>
        </div>
    </div>
</form>
